<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
    <label for="filterText" class="form-label">Ürün ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText"
        placeholder="arama ifadesi giriniz">
</div>

<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Urun Adi</th>
            <th>Kategori</th>
            <th>Fiyat</th>
            <th>KDVli Fiyat</th>
            <th>Stok Adedi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterPipe:filterText">
            <td>{{product.id}}</td>
            <td>{{product.name | uppercase}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{(product.price | watAdded) | currency}}</td>
            <td>{{product.unitsInStock}}</td>
            <td><button (click)="addToCart(product)" class="btn btn-success btn-sm">Sepete Ekle</button></td>
        </tr>
    </tbody>
</table>